

{% extends 'header.html' %}

{% block content %}
{%block title %} Driver Form {%endblock%}

  <h3>Please provide us the details for the driver for the insured vehicle.</h3>
      <h4>Please ensure that you have entered your personal details,the insurance form and the vehicle form before you fill out this form. </h4>

<!--    <hr>-->
<!--    <div class="container">-->
     <form method = "POST">
         {% csrf_token %}

         Licence Number: <input type="number" name="licence"  required="required"/><br/>
         First name : <input type="text" name="d_fname" required="required"/><br/>
         Last name : <input type="text" name="d_lname" required="required"/><br/>
         Middle name : <input type="number" name="d_mname" /><br/>
         BirthDate : <input type="date" name="birthdate" value="L"><br/>
         VIN : <input type="number" name="vin" placeholder="Enter Vehicle Identification Number" required="required"/><br/>

         <input type="submit" value ="Submit"/><br/>

<!--         {% if messages %}-->
<!--         {% for displaydata in messages %}-->
<!--         <h3 style = "color: blue;">{{displaydata}} </h3>-->
<!--         {% endfor %}-->
<!--         {% endif %}-->
     </form>
<!--    </div>-->
<!--    </hr>-->

{% endblock %}