

{% extends 'header.html' %}
{%block title %} Name Form {%endblock%}

{% block content %}
  <h3>Please Confirm your Name</h3>
<!--    <hr>-->
<!--    <div class="container">-->
     <form method = "POST">
         {% csrf_token %}
         First name : <input type="text" name="firstname"  required="required"/><br/>
         Last Name : <input type="text" name="lastname" required="required"/><br/>

         <input type="submit" value ="Submit"/><br/>
<!--         {% if messages %}-->
<!--         {% for displaydata in messages %}-->
<!--         <h3 style = "color: blue;">{{displaydata}} </h3>-->
<!--         {% endfor %}-->
<!--         {% endif %}-->
     </form>
<!--    </div>-->
<!--    </hr>-->

{% endblock %}